{{{body}}}

<ul>
  {{#each (slice (sort-by root.blog "date_published" "desc") 0 15)}}
  {{#if (not (eq @key "_self"))}}
  <hgroup>
    <h4><a href="/blog/{{@key}}/">{{this.title}}</a></h4>
    <h2>{{this.author}}</h2>
  </hgroup>
  {{/if}}
  {{/each}}
</ul>