:root {
  --spacing: 0.75rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  /* --font-family: "Fira Sans", sans-serif; */
  --card-background-color: var(--background-color);
  --card-box-shadow: none;
}

article {
  padding: calc(var(--block-spacing-vertical) / 2) 0;
}

article > header > h2,
article > header > p {
  margin-bottom: 0;
}

blockquote p {
  margin: 0;
}

pre {
  padding: 0 !important;
}

code {
  font-family: "Fira Code", monospace !important;
  font-size: 0.8rem !important;
}
