@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');

:root {
  --font-family: 'Fira Sans', system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --spacing: 0.75rem;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --background-color: #191724;
  --color: #d9e6f2;
  --h1-color: #fff;
  --h2-color: #e5eff3;
  --h3-color: #c5d4e9;
  --h4-color: #abb2bf;
  --h5-color: #d9e6f2;
  --h6-color: #abb2bf;
  --muted-color: #6e6a86;
  --muted-border-color: #2e3440;
  --primary: #eb6f92;
  --primary-hover: #f6c177;
  --primary-focus: rgba(125, 78, 87, 0.125);
  --primary-inverse: #fff;
  --secondary: #858c99;
  --secondary-hover: #69707b;
  --secondary-focus: rgba(133, 140, 153, 0.125);
  --secondary-inverse: #fff;
  --contrast: #fff;
  --contrast-hover: #000;
  --contrast-focus: rgba(133, 140, 153, 0.125);
  --contrast-inverse: #fff;
  --mark-background-color: #ffb7c3;
  --mark-color: #6f2232;
  --ins-color: #50a14f;
  --del-color: #b62324;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --form-element-background-color: transparent;
  --form-element-border-color: #858c99;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: transparent;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #364252;
  --form-element-disabled-border-color: #2e3440;
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #b62324;
  --form-element-invalid-active-border-color: #d32f2f;
  --form-element-invalid-focus-color: rgba(211, 47, 47, 0.125);
  --form-element-valid-border-color: #50a14f;
  --form-element-valid-active-border-color: #43a047;
  --form-element-valid-focus-color: rgba(67, 160, 71, 0.125);
  --switch-background-color: #b8c4d6;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #364252;
  --range-active-border-color: #b8c4d6;
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #22212c;
  --code-background-color: #2e3440;
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #f19f13;
  --code-property-color: #b45bcf;
  --code-value-color: #8ca6db;
  --code-comment-color: #5c6370;
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: none;
  --card-sectionning-background-color: #1f1d2e;
  --dropdown-background-color: #1f1d2e;
  --dropdown-border-color: #2e3440;
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #2e3440;
  --modal-overlay-background-color: rgba(16, 13, 19, 0.7);
  --progress-background-color: #364252;
  --progress-color: var(--primary);
  --loading-spinner-opacity: 0.5;
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  --card-background-color: var(--background-color);
  --card-box-shadow: none;
}

article {
  padding: calc(var(--block-spacing-vertical)/2) 0;
}

article>header>h2,
article>header>p {
  margin-bottom: 0;
}

blockquote p {
  margin: 0;
}